services:
  brain:
    build: ./backend
    container_name: brain
    environment: ["GEMINI_API_KEY=AIzaSyDqYHXLcT5xTkxh0LytevllKOsDv_jJKMA"]
    ports: ["8000:8000"]
    networks: [sovereign_net]
  face:
    build: ./dashboard
    container_name: face
    environment: ["BACKEND_URL=http://brain:8000"]
    ports: ["8502:8501"]
    networks: [sovereign_net]
    depends_on: [brain]
networks:
  sovereign_net:
    driver: bridge
